@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row"style="margin-top:70px;">
	<div class="col-md-4 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box blue-hoki">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Portlet1
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-default btn-sm">
						<i class="fa fa-pencil"></i> Edit
					</a>
					<a href="javascript:;" class="btn btn-default btn-sm">
						<i class="fa fa-plus"></i> Add
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd">
					<strong>Scroll is hidden</strong><br />
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Portlet2
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse">
					</a>
					<a href="" class="fullscreen">
					</a>
					<a href="#portlet-config" data-toggle="modal" class="config">
					</a>
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-default btn-sm">
						<i class="fa fa-pencil"></i> Edit
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible="1" data-rail-color="blue" data-handle-color="red">
					<strong>Scroll is always visible</strong><br />
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
	<div class="col-md-4 ">
		<!-- BEGIN Portlet PORTLET-->
		<div class="portlet box yellow">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-gift"></i>Portlet3
				</div>
				<div class="actions">
					<a href="javascript:;" class="btn btn-default btn-sm">
						<i class="fa fa-pencil"></i> Edit
					</a>
					<div class="btn-group">
						<a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown">
							<i class="fa fa-user"></i> User <i class="fa fa-angle-down"></i>
						</a>
						<ul class="dropdown-menu pull-right">
							<li>
								<a href="javascript:;">
									<i class="fa fa-pencil"></i> Edit
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-trash-o"></i> Delete
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<i class="fa fa-ban"></i> Ban
								</a>
							</li>
							<li class="divider">
							</li>
							<li>
								<a href="javascript:;">
									<i class="i"></i> Make admin
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height:200px" data-always-visible="1" data-rail-visible="1" data-rail-color="red" data-handle-color="green">
					<strong>Scroll and rail are always visible</strong><br />
					Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.
				</div>
			</div>
		</div>
		<!-- END Portlet PORTLET-->
	</div>
</div>