@model Product

@{
	ViewData["Title"] = "ProductEdit";
	Layout = "~/Views/Shared/AdminLayout.cshtml";

}


<!-- BEGIN SAMPLE FORM PORTLET-->
<div class="portlet box purple ">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-gift"></i> ÜRÜN Düzeltme FORMU
		</div>
		<div class="tools">
			<a href="" class="collapse">
			</a>
			<a href="#portlet-config" data-toggle="modal" class="config">
			</a>
			<a href="" class="reload">
			</a>
			<a href="" class="remove">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-horizontal" role="form" method="post" action="/Admin/ProductEdit">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-body">

				<div class="form-group">
					<label asp-for="ProductName" class="col-md-3 control-label">ÜRÜN ADI</label>
					<div class="col-md-9">
						<input asp-for="ProductName" class="form-control input-lg" placeholder="ÜRÜN ADI"
							   required maxlength="100" />
						<span asp-validation-for="ProductName" class="text-danger"></span>
					</div>
				</div>
				<div class="form-group">
					<label asp-for="UnitPrice" class="col-md-3 control-label">FİYAT</label>
					<div class="col-md-9">
						<input asp-for="UnitPrice" class="form-control input-lg" placeholder="FİYAT"
							   required maxlength="100" />
						<span asp-validation-for="UnitPrice" class="text-danger"></span>
					</div>
				</div>


				<div class="form-group">
					<label class="col-md-3 control-label">KATEGORİ SEÇİNİZ</label>
					<div class="col-md-9">

						@Html.DropDownList("CategoryID",
						(IEnumerable<SelectListItem>)ViewData["Categorylist"],
												"Seçiniz", new { @class = "form-control input-lg", required = "required" })
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">MARKA SEÇİNİZ</label>
					<div class="col-md-9">

						@Html.DropDownList("SupplierID",
												(IEnumerable<SelectListItem>)ViewData["Supplierlist"],
												"Seçiniz", new { @class = "form-control input-lg", required = "required" })
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">STATÜ SEÇİNİZ</label>
					<div class="col-md-9">

						@Html.DropDownList("StatusID",
												(IEnumerable<SelectListItem>)ViewData["Statuslist"],
												"Seçiniz", new { @class = "form-control input-lg", required = "required" })
					</div>
				</div>
				<div class="form-group">
					<label asp-for="Stock" class="col-md-3 control-label">STOK</label>
					<div class="col-md-9">
						<input asp-for="Stock" class="form-control input-lg" placeholder="STOK"
							   onkeypress="return numberonly (this,event)" />
					</div>
					<span asp-validation-for="Stock" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Discount" class="col-md-3 control-label">İNDİRİM</label>
					<div class="col-md-9">
						<input asp-for="Discount" class="form-control input-lg" placeholder="İNDİRİM" />
					</div>
					<span asp-validation-for="Discount" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Keywords" class="col-md-3 control-label">ANAHTAR KELİME</label>
					<div class="col-md-9">
						<input asp-for="Keywords" class="form-control input-lg" placeholder="ANAHTAR KELİMELER" />
					</div>
					<span asp-validation-for="Keywords" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Kdv" class="col-md-3 control-label">KDV</label>
					<div class="col-md-9">
						<input asp-for="Kdv" class="form-control input-lg" placeholder="KDV"
							   onkeypress="return numberonly (this,event)" />
					</div>
					<span asp-validation-for="Kdv" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Related" class="col-md-3 control-label">BUNA BAKANLAR</label>
					<div class="col-md-9">
						<input asp-for="Related" class="form-control input-lg" placeholder="BUNA BAKANLAR" />
					</div>
					<span asp-validation-for="Related" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="Notes" class="col-md-3 control-label">NOT</label>
					<div class="col-md-9">
						<input asp-for="Notes" class="form-control input-lg" placeholder="NOT" />
					</div>
					<span asp-validation-for="Notes" class="text-danger"></span>

				</div>
				<div class="form-group">
					<label asp-for="PhotoPath" class="col-md-3 control-label">RESİM SEÇİNİZ</label>
					<div class="col-md-9">
						<input type="file" asp-for="PhotoPath" class="form-control input-lg" />

					</div>
					<span asp-validation-for="PhotoPath" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">AKTİF Mİ?</label>
					<div class="col-md-9">
						<input asp-for="Active" class="form-control input-lg" />
					</div>
				</div>

				<input type="hidden" asp-for="ProductID" />

				<div class="form-action rights1">
					<a asp-action="ProductIndex" class="btn btn-primary">ÜRÜN LİSTESİ</a>
					<div class="col-md-9">
						<input type="submit" name="name" value="KAYDET" class="btn btn-success" />
					</div>
				</div>



			</div>
		</form>









	</div>
</div>
<!-- END SAMPLE FORM PORTLET-->
