@using MarketHup.Models.MVVM
@model Communication

<!-- footer top area start -->
<section id="sp-bottom-2">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span>İletişim Bilgileri</span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="t-bottom-content">
									<p class="adress">
										<em class="fa fa-map-marker"></em>
										<span class="ft-content">@Model.Adress</span>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span></span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="t-bottom-content">
									<p class="phone">
										<em class="fa fa-phone"></em>
										<span class="ft-content">@Model.Telephone</span>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-6 col-md-4 sp-bottomcontact">
				<div class="sp-column ">
					<div class="sp-module ">
						<h3 class="sp-module-title"><span> </span></h3>
						<div class="sp-module-content">
							<div class="custom">
								<div class="t-bottom-content">
									<p class="email">
										<em class="fa fa-envelope"></em>
										<span class="ft-content">@Model.Email</span>
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>