@model IEnumerable<Category>
@inject IHttpContextAccessor Accessor


<!-- start preloader -->
<div id="loader-wrapper">
	<div class="logo"></div>
	<div id="loader">
	</div>
</div>
<!-- end preloader -->
<!-- header area start -->
<div class="header-top">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-3 col-lg-3">

				@{
					var EmailInfo = Accessor.HttpContext.Session.GetString("Email");
				}
				<div class="logo-area">

					<a href="/Home/Index">
                         <img src="~/resimler/yklogo.png" />

						<span style="color:white;">@EmailInfo </span>

					</a>
				</div>
			</div>
			<div class="col-sm-12 col-md-9 col-lg-9">
				<div class="top-nav-area">
					<ul>

						<li>
							<a href="/Home/NewProducts">
								<i class="fa fa-plus"></i>
								<div class="nav-select">
									<div class="text_menu">
										YENİ ÜRÜNLER
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="/Home/SpecialProducts">
								<i class="fa fa-star"></i>
								<div class="nav-select">
									<div class="text_menu">
										ÖZELLER
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="/Home/DiscountedProducts">
								<i class="fa fa-level-down"></i>
								<div class="nav-select">
									<div class="text_menu">
										ENÇOK İNDİRİM
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="/Home/HighLightedProducts">
								<i class="fa fa-heart"></i>
								<div class="nav-select">
									<div class="text_menu">
										ÖNE ÇIKANLAR
									</div>
								</div>
							</a>
						</li>

						<li>
							<a href="/Home/TopsellerProducts">
								<i class="fa fa-arrow-up"></i>
								<div class="nav-select">
									<div class="text_menu">
										ÇOK SATANLAR
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/Home/MyOrders">
								<i class="fa fa-gift"></i>
								<div class="nav-select">
									<div class="text_menu">
										SİPARİŞLERİM
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="/Home/Cart">
								<div class="cart_area">
									<i class="fa fa-shopping-cart"></i>
									<div class="nav-select">
										<div class="text_menu">
											SEPETİM
										</div>
									</div>
								</div>
							</a>

						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- main menu area start  -->
<div class="main-menu-area ">
	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-sm-8 col-md-3 col-lg-3">
				<div class="menu-cat-area">
					<h3 class="nk-module-title"><span>KATEGORİ</span></h3>
					<div class="nk-all-items" style="display:none;">
						<div class="sp-module-content">
							<!-- treeview -->
							<div class="vina-treeview-virtuemart" id="vina-treeview-virtuemart93">
								<ul class="level0 treeview">

									@foreach (var item in Model.Where(c => c.ParentID == 0))
									{
										<li>
											<a title="Camera" href="/Home/CategoryPage/@item.CategoryID" class="camera">
												<span class="catTitle ">@item.CategoryName</span>
											</a>
											@foreach (var subitem in Model)
											{
												if (item.CategoryID == subitem.ParentID)
												{
													<ul class="sub-menu treeview" style="display:none;">
														<li class="expandable">
															<a title="Fashion" href="/Home/CategoryPage/@subitem.CategoryID" class="">
																<span class="catTitle ">@subitem.CategoryName</span>
															</a>
														</li>
													</ul>

												}

											}

										</li>


									}





								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-2 col-sm-3 col-md-9 col-lg-9">
				<nav>
					<ul>
						<li class="active">
							<a >FAYDALI LİNKLER</a>
							<div class="sp-dropdown-inner">
								<ul class="sp-dropdown-items">
									<li class="sp-menu-item"><a href="WebAPI/PharmacyOnDuty">Nöbetçi Eczaneler</a></li>
									<li class="sp-menu-item"><a href="WebAPI/ArtAndCulture">Kültür Sanat</a></li>
									<li class="sp-menu-item"><a href="WebAPI/ExchangeRate">Döviz</a></li>
									<li class="sp-menu-item"><a href="WebAPI/WeatherForecast">Hava Durumu</a></li>

								</ul>
							</div>
						</li>
						<li><a href="/Home/Register">ÜYE OL</a></li>
						<li><a href="/Home/Login">GİRİŞ</a></li>
						<li><a href="/Home/Logout">ÇIKIŞ</a></li>
						<li><a href="/Home/AboutUs">HAKKIMIZDA</a></li>
						<li><a href="/Home/ContactUs">İLETİŞİM</a></li>
						<li><a href="/Home/DetailedSearch">DETAYLI ARAMA</a></li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- main menu area end  -->
<!-- mobile-menu-area start -->
<div class="mobile-menu-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="mobile-menu">
					<nav id="dropdown">
						<ul>
							<li>
								<a href="index.html">Home2</a>
								<ul>
									<li><a href="index.html">Home 1</a></li>
									<li><a href="index-2.html">Home 2</a></li>
									<li><a href="index-3.html">Home 3</a></li>
									<li><a href="index-4.html">Home 4</a></li>
									<li><a href="index-5.html">Home 5</a></li>
									<li><a href="index-6.html">Home 6</a></li>
								</ul>
							</li>
							<li><a href="about-us.html">About Us</a></li>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="portfolio.html">Portfolio</a></li>
							<li>
								<a href="index.html#">Pages</a>
								<ul>
									<li><a href="blog-post.html">blog post page</a></li>
									<li><a href="cart.html">cart page</a></li>
									<li><a href="checkout.html">checkout page</a></li>
									<li><a href="login.html">login page</a></li>
									<li><a href="shop.html">shop page</a></li>
									<li><a href="single-product.html">single product page</a></li>
									<li><a href="wishlist.html">wishlist</a></li>
								</ul>
							</li>
							<li><a href="corporate.html">Corporate</a></li>
							<li><a href="contact.html">Contact Us</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- mobile-menu-area end -->
<!-- search area start  -->
<div class="nk-search-area">
	<div class="container">
		<div class="row">
			<div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				<div class="nk-search">
					<div class="search_input">
						<input type="text" lang="tr" id="search" placeholder="Ürün Kategori ve Marka Ara" style="width:860px" />

						<br />
						<div id="dv" style="width:860px;height:auto;margin-top:23px;border-style:solid;background-color:white;
							position:absolute;z-index:10000;">
							<ul id="sul"></ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
<!-- main menu area end  -->
<script>


	$("#search").keyup(function () {
		var id = $("#search").val();

			if (id != "" && id.length > 1) {
		$.ajax({
			url: '/Home/gettingSearch/' + id,
			type: 'POST',
			ContentType: "application/json;charset=UTF-8",
			success: function (result) {
				$("#sul").remove();
				$("#dv").append("<ul id='sul'>");
				$("#sul").append(result);
				$("#dv").append("</ul>");
			}
		});
	}
	else {
		$("#sul").remove(); // eski bulduğu kayıtları temizlesin. backspace ile geri geldi
	}

	})


</script>